<!DOCTYPE html>
<html>

<head>
    <title>Shinsur.com</title>
    <link rel="stylesheet" type="text/css" href='style.css'>
    <script type="module" src='webgl.js'></script>
</head>

<body>
    <div class="canvasContainer">
        <div class="shadingSytleControlDiv">
            PBR
            <label class="switch">
                <input id="shadingStyleCheckbox" type="checkbox" checked>
                <span class="slider"></span>
            </label>
            NPR
        </div>
        <div class="canvasDiv">
            <canvas id="c" width="1280" height="720" />
        </div>
        <div class="debugInfoContainer">
            <div class="debugInfoDiv">
                <p class="debugInfoCategory">Performance</p>
                <p class="styleText" id="fps">0</p><br>
                <p class="styleText" id="triCount">0</p><br>
            </div>
            <div class="debugInfoDiv" id="shadingModeSection" style="display:none">
                <p class="debugInfoCategory">Shading Mode</p><br />
                <p class="styleText">Forward</p>
                <label class="switch">
                    <input id="shadingModeCheckBox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="styleText">Deferred</p>
            </div>
            <div class="debugInfoDiv" id="GbufferViewerSection" style="display:none">
                <p class="debugInfoCategory">Gbuffer Viewer</p><br>
                <p class="styleText">Off</p>
                <label class="switch">
                    <input id="DebugViewCheckbox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="styleText">On</p><br>
                <span class="styleHideable" id="DebugBufferSelector">
                    Buffer:
                    <select class="styleDropdown" name="DebugViewType" id="debugViewOptions">
                        <option value="WorldPos">World Position</option>
                        <option value="Diffuse">Diffuse</option>
                        <option value="Normal">Normal</option>
                        <option value="SNormal">Smoothed Normal</option>
                        <option value="TexCoord">Texture Coordinate</option>
                    </select>
                </span>
            </div>
            <div class="debugInfoDiv" id="shadowSection" style="display:none">
                <p class="debugInfoCategory">Shadow</p>
                <p class="styleText">Shadow View: Off</p>
                <label class="switch">
                    <input id="ShadowViewCheckbox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="styleText">On</p><br>
                <p class="styleText">Resolution: </p>
                <form name="shadowResForm">
                    <input type="radio" id="shadowRes1k" name="shadowRes" value="1024">
                    <label for="shadowRes1k" style="color:snow">1k</label>
                    <input type="radio" id="shadowRes2k" name="shadowRes" value="2048">
                    <label for="shadowRes2k" style="color:snow">2k</label>
                    <input type="radio" id="shadowRes4k" name="shadowRes" value="4096" checked>
                    <label for="shadowRes4k" style="color:snow">4k</label>
                    <input type="radio" id="shadowRes8k" name="shadowRes" value="8192">
                    <label for="shadowRes8k" style="color:snow">8k</label>
                </form>
                <p class="styleText">Bias: </p>
                <div class="slidecontainer">
                    <input type="range" min="0" max="300" value="152" id="ShadowBiasSlider">
                    <p class="styleText" id="shadowBiasDisplay"></p>
                </div>
                <p class="styleText">Exponential Scale: </p>
                <div class="slidecontainer">
                    <input type="range" min="1" max="100" value="50" id="ShadowExpScaleSlider">
                    <p class="styleText" id="ShadowExpScaleDisplay"></p>
                </div>
                <p class="styleText">PCF Filter</p>
                <label class="switch">
                    <input id="PCFFilterCheckbox" type="checkbox" checked>
                    <span class="slider round"></span>
                </label>
                <p class="styleText">On</p><br>
                <div id="PCFFilterDiv">
                    <p class="styleText">PCF Kernel Size: </p>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="15" value="3" id="PCFKernelSizeSlider">
                        <p class="styleText" id="PCFKernelSizeDisplay"></p>
                    </div>
                    <p class="styleText">PCF Gauss Width: </p>
                    <div class="slidecontainer">
                        <input type="range" min="1" max="100" value="7" id="PCFGaussianWidthSlider">
                        <p class="styleText" id="PCFGaussianWidthDisplay"></p>
                    </div>
                </div>
            </div>
            <div class="debugInfoDiv" id="contourSection">
                <p class="debugInfoCategory">Contour</p><br />
                <p class="styleText">Contour View: Off</p>
                <label class="switch">
                    <input id="shadingModeCheckBox" type="checkbox">
                    <span class="slider round"></span>
                </label>
                <p class="styleText">On</p>
            </div>
        </div>
    </div>

        <div>
            <a href="/summer.html">I love summer</a>
        </div>

        <address>
            Developed by <a href="mailto:shingleex@gmail.com">Shin Chen</a>.<br>
            <a href="https://www.linkedin.com/in/koumakan/">Linkedin</a><br>
            <a href="https://github.com/KoumaTeacup/Shinsur.com">Git of this page</a><br>
        </address>
</body>

</html>