<!DOCTYPE html>
<html>

<head>
	<title>Shinsur.com</title>
</head>

<body>
	<div>
		<img src="/Tifa.jpg" alt="Tifa" width="628" height="797"/>
		<canvas id="c" width="800" height="600"/>
		<a href="/summer.html">I love summer</a>
	</div>
	<div>
		<p>tasks:</p>
		<p><s>auto convert shader to js</s></p>
		<p><s>auto run with nodemon</s></p>
		<p><s>webgl animation</s></p>
		<p>render a solid box and wireframe box</p>
		<p>render with MVP</p>
	</div>
</body>

	<script src='bundle.js'></script>
	<!-- script id='default.vs' src='/shaders/default.vs' type='x-shader/x-vertex'></script>
	<script id='default.fs' src='/shaders/default.fs' type='x-shader/x-fragment'></script-->
</html>