<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shinsur.com</title>
    <meta charset="utf-8" />
    <title>Shinsur.com</title>
    <link rel="stylesheet" type="text/css" href='style.css'>
</head>
<body>
    <div class="title">
        <a style="padding-right: 15px" href="/Logo.html">
            <img alt="Logo" src="Logo.png" width="130" style="padding-left:10px" title="Logo" />
        </a>
        <div style="width: 50px"></div>
        <div class="titleLinks">
            <a href="/Default.html">
                <img src="icon_Home.png" width="42" height="42" title="Home" />
            </a>
            <a href="/summer.html">
                <img src="icon_Document.png" width="42" height="42" title="Documentation" />
            </a>
            <a href="https://github.com/KoumaTeacup/Shinsur.com">
                <img src="icon_Github.png" width="42" height="42" title="Git of this page" />
            </a>
        </div>
    </div>

    <center>
        <p style="font-size:24px">See how this logo gets created!</p>
        <video width="320" height="240" controls>
            <source src="Logo.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <p style="height:50px"></p>
        <a href="/Default.html" style="color:cornflowerblue; font-size:36px">Back</a>
    </center>
</body>
</html>