<!DOCTYPE html>
<html>
<head>
    <title>Shinsur.com</title>
    <meta charset="utf-8" />
    <title>Shinsur.com</title>
    <link rel="stylesheet" type="text/css" href='style.css'>
</head>
<body>
    <div class="title">
        <a style="padding-right: 15px" href="/Logo.html">
            <img alt="Logo" src="Logo.png" width="130" style="padding-left:10px" title="Logo" />
        </a>
        <div style="width: 50px"></div>
        <div class="titleLinks">
            <a href="/Default.html">
                <img src="icon_Home.png" width="42" height="42" title="Home" />
            </a>
            <a href="/summer.html">
                <img src="icon_Document.png" width="42" height="42" title="Documentation" />
            </a>
            <a href="https://github.com/KoumaTeacup/Shinsur.com">
                <img src="icon_Github.png" width="42" height="42" title="Git of this page" />
            </a>
        </div>
    </div>

    <div class="paperArchive">
        <h1>Paper reference:</h1><br />
        <p>Weights for Computing Vertex Normals from Facet Normals - Nelson Max</p>
        <a href="/Weights for Computing Vertex Normals from Facet Normals.pdf">Link</a>
        <br /><br />
        <p>Estimating Curvatures and Their Derivatives on Triangle Meshes - Szymon Rusinkiewicz, Princeton University</p>
        <a href="/Estimating Curvatures and Their Derivatives on Triangle Meshes.pdf">Link</a>
        <br /><br />
        <p>Real-Time Pencil Rendering - Hyunjun Lee, Sungtae Kwon, Seungyong Lee</p>
        <a href="/Real-Time Pencil Rendering.pdf">Link</a>
    </div>
</body>
</html>