<html>
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
        select {
            height: 30px;
        }
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>
    <div class="js-list list-wrapper">
        <div class="list-wrapper js-list-content">
            <div class="list-header js-list-header u-clearfix is-menu-shown">
                <textarea class="list-header-name mod-list-name js-list-name-input" aria-label="WELCOME!" spellcheck="false" dir="auto" maxlength="512" style="overflow: hidden; overflow-wrap: break-word; height: 28px;">WELCOME!</textarea>
            </div>
        </div>
    </div>
</body>
</html>