<html>
<head>
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
    <style>
        select {
            height: 100px;
        }
    </style>
    <script src="https://p.trellocdn.com/power-up.min.js"></script>
</head>
<body>
    <form id="settings">
        <label for="sproutPos">Sprout List Start Position:</label>
        <input type="number" id="sproutPos" name="sproutPosInput" min="1" max="999">
        <button type="submit" class="mod-primary">Save</button>
    </form>
    <script src="/trello_settings.js"></script>
</body>
</html>