body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.canvasContainer {
    margin:auto;
    position: relative;
}

.canvasDiv {
    margin: auto;
    width: 1280px;
    position: relative;
}

.debugInfoDiv {
    position: absolute;
    top: 0;
}