html {
    height: 100%;
    /*background-image: linear-gradient(to bottom right, white, #cdc);*/
    background-image: linear-gradient(to bottom right, rgba(241, 237, 231, 0.75), rgba(132, 107, 89, 0.75));
}

body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

address {
    text-align: right;
    width: 100%;
    position: relative;
}

a {
    color: rgb(0, 60, 157);
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    vertical-align: sub;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:default + .slider {
    background-color: blue;
}

input:default + .round {
    background-color: #ccc;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

    .slider.round:before {
        border-radius: 50%;
    }

[type='radio'] {
    cursor: pointer;
}

.slidecontainer {
    width: 100%;
}

.debugInfoContainer {
    float: left;
}

.shadingSytleControlDiv {
    zoom: 3;
    text-align: center;
    margin-bottom: 5px;
}

.debugTab {
    padding-left: 5px;
    padding-right: 15px;
    border-right: groove;
    width: auto;
    float: left;
}

    .debugTab input {
        margin: 5px;
        border-style: none;
        font-size: 18px;
    }

        .debugTab input:hover {
            background-image: radial-gradient(closest-side, white, rgba(221, 215, 210, 0));
        }

        .debugTab input.active {
            margin: 3px;
            border-style: inset;
            border-width: 2px;
            background-image: radial-gradient(closest-side, rgb(132,107,89), rgba(169,152,141, 0));
        }

        .debugTab input.disabled {
        }

.debugTabContent {
    border-right: groove;
    padding-left: 45px;
    padding-right: 45px;
    width: 300px;
    float: left;
    display: none;
    color: black;
}

    .debugTabContent .debugMenuTitle {
        padding-bottom: 15px;
        font-family: system-ui;
        color: rgb(197, 174, 244);
        font-size: 24px;
        text-align: center;
        text-shadow: 1px 2px 2px #404040;
        font-weight: bolder;
        border-bottom-style: groove;
    }

    .debugTabContent .debugMenuWarning {
        display: none;
    }

    .debugTabContent p:not([class]), label{
        margin: auto;
        display: inline-block;
        font-size: 16px;
        font-family: system-ui;
        text-align: center;
    }

    .debugTabContent.disabled {
        color: #bbb;
    }

        .debugTabContent.disabled .debugMenuWarning {
            padding-bottom: 15px;
            font-family: system-ui;
            font-size: 20px;
            text-align: center;
            font-weight: bolder;
            border-bottom-style: groove;
            display: block;
            color: crimson;
        }

        .debugTabContent.disabled input, .debugTabContent.disabled .switch {
            pointer-events: none;
        }

canvas{
    padding-left: 50px;
}