html {
    height: 100%;
    background-image: linear-gradient(to bottom right, rgba(241, 237, 231, 0.75), rgba(132, 107, 89, 0.75));
    /*background-image: linear-gradient(to bottom right, white, #cdc);*/
    /*background-image: linear-gradient(to bottom right, rgba(241, 237, 231, 0.75), rgba(132, 107, 89, 0.75));*/
}

.title img {
    align-self: center;
    width: 130px;
    height: 0%;
    padding-left: 10px;
}

.title {
    color: white;
    background-color: #252525;
    width: 100%;
    border-bottom: groove;
    font-size: 12px;
    display: inline-flex;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

    .title .titleText {
        align-self: flex-end;
    }

body {
    margin: 0px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #ffbb71;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    vertical-align: sub;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        left: 2px;
        bottom: 2px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:default + .slider {
    background-color: blue;
}

input:default + .round {
    background-color: #ccc;
}

input:checked + .slider {
    background-color: green;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 17px;
}

    .slider.round:before {
        border-radius: 50%;
    }

[type='radio'] {
    cursor: pointer;
}

.styleSlider {
    display: inline-block;
    width: 1280px;
}

.canvasContainer {
    /*margin: -110px;*/
    /*background-color: #edab1f;*/
    justify-content: center;
    display: flex;
    inline-size: fit-content;
}

.debugInfoContainer {
    display: flex;
    margin-bottom: 3px;
    margin-top: 21px;
}

.debugTab {
    align-self: center;
    padding-left: 15px;
    padding-right: 15px;
    border-right: groove;
}

    .debugTab input {
        margin: 5px;
        border-style: none;
        font-size: 18px;
    }

        .debugTab input:hover {
            background-image: radial-gradient(closest-side, white, rgba(221, 215, 210, 0));
        }

        .debugTab input.active {
            margin: 3px;
            border-style: inset;
            border-width: 2px;
            background-image: radial-gradient(closest-side, rgb(219, 192, 168), rgba(219, 192, 168));
            /*background-color: rgb(132,107,89);*/
        }

        .debugTab input.disabled {
        }

.debugTabContent {
    display:flex;
    border-right: groove;
    padding-left: 45px;
    padding-right: 45px;
    width: 300px;
    display: none;
    color: black;
}

    .debugTabContent .debugMenuTitle {
        padding-bottom: 15px;
        font-family: system-ui;
        color: rgb(219, 192, 168);
        font-size: 24px;
        text-align: center;
        text-shadow: 1px 2px 2px #404040;
        font-weight: bolder;
        border-bottom-style: groove;
    }

    .debugTabContent .debugMenuWarning {
        display: none;
    }

    .debugTabContent p:not([class]), label{
        margin: auto;
        display: inline-block;
        font-size: 16px;
        font-family: system-ui;
        text-align: center;
    }

    .debugTabContent.disabled {
        color: #bbb;
    }

        .debugTabContent.disabled .debugMenuWarning {
            padding-bottom: 15px;
            font-family: system-ui;
            font-size: 20px;
            text-align: center;
            font-weight: bolder;
            border-bottom-style: groove;
            display: block;
            color: crimson;
        }

        .debugTabContent.disabled input, .debugTabContent.disabled .switch {
            pointer-events: none;
        }

.optional {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: ridge;
    border-width: 1px;
    border-radius: 15px;
}

    .optional.off {
        pointer-events: none;
        color: #bbb;
    }

canvas{
}